:root {
  font-size: 16px;
  --text-title: #c3073f;
  --text-primary: #dddddd;
  --text-secondary: #aeaeae;
  --bg-primary: #1A1A1D;
  --bg-secondary: #19191C;
  /*--bg-button: #950740;
  --bg-button-hover: #6f2232;*/
  --bg-button: #b2062e;
  --bg-button-hover: #df2222;
  --transition-speed: 600ms;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
    display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
